@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans');

:root {
  --primary-color: #4CAF50;          /* brand green */
  --secondary-color: #0B6623;        /* dark forest green */
  --accent1-color: #8B4513;          /* soil brown */
  --accent2-color: #FFFFFF;          /* white */
  --accent3-color: #FF8C00;          /* orange */

  --heading-font: "Montserrat", sans-serif;
  --paragraph-font: "Open Sans", Helvetica, sans-serif;

  --headline-color-on-white: #4CAF50;
  --headline-color-on-color: white;
  --paragraph-color-on-white: #4CAF50;
  --paragraph-color-on-color: white;
  --paragraph-background-color: #4CAF50;
  --nav-link-color: #4CAF50;
  --nav-background-color: var(--secondary-color);
  --nav-hover-link-color: white;
  --nav-hover-background-color: var(--accent3-color);
}

body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 4em;
  font-size: 18px;
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}

h2 {
  text-align: center;
}

hr {
  height: 3px;
  margin: 35px 0;
  background: var(--accent1-color);
}

header {
  padding: 1em;
  text-align: center;
  color: var(--headline-color-on-color);
  background-color: var(--paragraph-background-color);
}

header > h1, header > h2 {
  color: var(--headline-color-on-color);
}

p {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color-on-white);
  padding: 1em;
}

p.colored {
  background-color: var(--paragraph-background-color);
  color: var(--paragraph-color-on-color);
}

.colors {
  width: 100%;
  min-width: 350px;
  margin: 30px auto;
  text-align: center;
}

.colors th {
  background-color: #999;
}

.colors td {
  width: 25%;
  height: 3em;
}

.primary {
  background-color: var(--primary-color);
}

.secondary {
  background-color: var(--secondary-color);
}

.accent1 {
  background-color: var(--accent1-color);
}

.accent2 {
  background-color: var(--accent2-color);
}

nav {
  background-color: var(--nav-background-color);
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
  display: flex;
  list-style-type: none;
}

nav a {
  padding: 10px;
  min-width: 120px;
  text-decoration: none;
}

nav a:link,
nav a:visited {
  color: var(--nav-link-color);
}

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}

.sitemap {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(6, 15%);
  grid-template-rows: 3em 1.5em 1.5em 3em;
  grid-template-areas:
    ". . home home . ."
    ". . . top . ."
    ". left left right right ."
    "page2 page2 . . page3 page3";
}

.sitemap > div {
  text-align: center;
}

.sm-home {
  grid-area: home;
  background-color: #ccc;
  line-height: 3em;
}

.sm-page2 {
  grid-area: page2;
  background-color: #ccc;
  line-height: 3em;
}

.sm-page3 {
  grid-area: page3;
  background-color: #ccc;
  line-height: 3em;
}

.top {
  grid-area: top;
  border-left: 1px solid;
}

.left {
  grid-area: left;
  border-top: 1px solid;
  border-left: 1px solid;
}

.right {
  grid-area: right;
  border-top: 1px solid;
  border-right: 1px solid;
}

/* Apply consistent size to all content images */
img:not([alt*="wireframe"]) {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}