
#feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;      
}
.moveDown {
    margin-top: 3em;
}
                    

header {
  background-color: #50514F;
  display: grid;
  grid-template-columns: 150px auto;
  padding: 10px 40px;
  position: relative;
  z-index: 2;
}

#logo_link {
  padding-top: 5px;
  justify-self: center;
  align-self: center;
}

.logo {
  width: 80px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

nav a {
  color: #FF4A1C;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
}

nav a:hover {
  color: #FFC145;
}
