/* Typography */
body {
  margin: 0;
  padding: 0;
  background-color: #F8E9E9;
  font-family: 'Lato', sans-serif;
  text-align: center;
  color: #50514F;
}

h1, h2 {
  font-family: 'IM Fell French Canon', serif;
  color: #FF4A1C;
}

.subtitle {
  font-size: 18px;
  color: #50514F;
}

/* Layout */
#content {
  max-width: 1600px;
  margin: 0 auto;
}

#background {
  height: 725px;
}

/* Gallery Cards */
.gallery-card {
  padding: 30px;
  max-width: 600px;
  margin: auto;
  background-color: #A1CCA5;
  border-radius: 10px;
  margin-bottom: 30px;
}

.gallery-img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  display: block;
  margin: 20px auto;
}

/* Footer */
footer {
  background-color: #50514F;
  color: #ffffff;
  padding: 20px 0;
  font-size: 14px;
}

footer a {
  color: #FFC145;
  text-decoration: none;
  margin: 0 8px;
}

footer a:hover {
  text-decoration: underline;
}

.footer-content {
  max-width: 600px;
  margin: 0 auto;
}

/* Social Icons */
.social-icons {
  margin-top: 10px;
}

.social-icons a {
  margin: 0 10px;
}


.icon {
  width: 20px;
  height: 20px;
  object-fit: contain;
  margin: 0 10px;
  vertical-align: middle;
}